.topnav a {
    padding: 24px 14px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.topnav a:hover {
    color: black;
    background-color: white;
}

.topnav {
    background-color: rgb(76, 175, 80);
    padding-top: 20px;
    padding-bottom: 20px;
        
}

a.active {
    color: red;
}

.menu {
    float: left;
    width: 220px;
}

.content {
    margin-left: 260px;
    display: flex;
}

.logo{
    width: 280px;
}

.slogan { 
    font-size: 14px;
    
}

.info {
    float: right;
}

.buton { 
    /*
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 6px;
    padding-right: 6px;
    */
    padding: 6px 14px;
    background-color: rgb(76, 175, 80);
    color: white;
    border-radius: 8px;
    margin-left: 24px;

}

.content-container {
    padding: 20px;
    flex-grow: 1;
}

h1 {
    text-align: center;
    font-size: 80px;
    margin: 0 0 0;
}

.subtitle  {
    display: block;
    text-align: center;
    font-size: 24px;
}

.actions {
    margin: 32px 0;
    padding: 0;
    text-align: center;
}

.actions li {
    display: inline-block;

}

.actions li a {
    display: block;
    padding: 8px 16px;
    background-color: grey;
    color: white;
    text-decoration: none;
}
