$primary-color: purple;
$font-size: 5px;
@if $primary-color == purple {
    $font-size: 20px;
} @else {
    $font-size:10 px;
}

@for $i from 1 through 3 {
    body:nth-child(3n + #{$i}) {
        background-color: lighten($primary-color, $i * 20%);
    }
}

@mixin transform($varProperty) {
    -webkit-transform: rotate($varProperty);
    -ms-transform: rotate($varProperty);
    transform: rotate($varProperty);
    background-color: yellow;
}

.body {
    background-color: gray;
}