body:nth-child(3n+1) {
  background-color: #e600e6;
}

body:nth-child(3n+2) {
  background-color: #ff4dff;
}

body:nth-child(3n+3) {
  background-color: #ffb3ff;
}

.body {
  background-color: gray;
}

.content {
  color: purple;
}
.content .button, .content .button--error {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  background-color: yellow;
  color: orange;
  font-size: 20px;
}
.content .button:hover, .content .button--error:hover {
  color: red;
}
.content .button--error {
  background-color: red;
}

.header {
  color: purple;
}

/*# sourceMappingURL=style.css.map */
