@use "base";

@debug Building Content;
.content {
    $primary-color: green;
    color: base.$primary-color;
    .button {
        @include base.transform(30deg);
        color: orange;
        &:hover{
            color: red;
        }
        font-size: base.$font-size;
    }
    .button--error {
        @extend .button;
        background-color: red;
    }
}
.header {
    color: base.$primary-color;
}
@debug it is primary color pink;
@debug greu scss;
@debug 10px<17px;
@debug "Helvetica" + "Neue"
