.container {
    border: 3px solid black;
    width: 400px;
    height: 315px;
}

.screen {
    width: 394px;
    height: 60px;
    border: 3px solid grey;
    font-size: 50px;
    display: flex;
    flex-direction: row-reverse;
}

button {
    width: 100px;
    height: 50px;
    display: block;
    border-radius: 10%;
    font-size: large;
}

.container-signs {
    height: 180px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.number0, .reset-button {
    width: 300px;
}




