body { 
    font-size: 30px;
    padding: 20px;
    margin: 30px;
    color: #ff0000;
}
p {
    color:red;
}
ul {
    background-color: green;
}
#cristina {
    color: yellow;
}
form {
    color: red;
}
.ccc{
    font-size: 20;
}
.nume {
    color: blue;
}
.prima {
    color: violet;
}