.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  flex: 0.5;
  max-width: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-columns: 150px 250px;
  grid-gap: 10px;
  justify-content: space-around;
}

#second-image {
  grid-column: 1;
  grid-row: 1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "d1 d1 d2" "d3 d3 d2" "d4 d5 d5";
}

#item1 {
  grid-area: d1;
  background-color: red;
}

#item2 {
  grid-area: d2;
  background-color: blue;
}

#item3 {
  grid-area: d3;
  background-color: green;
}

#item4 {
  grid-area: d4;
  background-color: pink;
}

#item5 {
  grid-area: d5;
  background-color: yellow;
}

/*# sourceMappingURL=style.css.map */
