<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess table</title>

    <style>
        
        div.board {
            width: 450px;
            height: 450px;
            margin: auto;
        }

        div.top-row {
            display: flex;
            flex-direction: row;
        }

        div.top-row div.labels {
            display: flex;
            flex-direction: row;
        }


        div.top-row div.labels div, div.top-row div.blank {
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 75px;
        }


        div.table-content {
            display: flex;
            flex-direction: row;
        }

        div.table-content div.vertical-labels {
            display: flex;
            flex-direction: column;
        }

        div.table-content div.vertical-labels div {
            width: 45px;
            height: 50px;
            text-align: right;
            padding-right: 5px;
            line-height: 50px;
        }

        div.table-content div.row, div.table-content div.row-alt {
            display: flex;
            flex-direction: row;
        }

        div.table-content div.row div, div.table-content div.row-alt div {
            width: 50px;
            height: 50px;
        }

        div.table-content div.row div:nth-child(odd) {
            background-color: black;
        }
        div.table-content div.row div:nth-child(even) {
            background-color:orange;
        }

        div.table-content div.row-alt div:nth-child(even) {
            background-color: black;
        }
        div.table-content div.row-alt div:nth-child(odd) {
            background-color:orange;
        }

    </style>
</head>
<body>


    <div class="board">
        <div class="top-row">
            <div class="blank"></div>
            <div class="labels">
                <div v-for="letter in [a,b,c,d,e,f,g,h]">{{ letter }}</div>
            </div>
        </div> 

        <div class="table-content">
            <div class="vertical-labels">
                
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
            </div>
            <div class="table-cells">
                <div class="row">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="row-alt">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="row">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="row-alt">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="row">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="row-alt">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="row">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="row-alt">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                
                
            </div>
        </div> 
    </div>

    
</body>
</html>