.chess-board{
    background-color: burlywood;
    width: 450px;
    margin: auto;
    
}

.row {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    height: 50px;
    background-color: white
}

.black {
    background-color: black;
}

.orange {
    background-color: orange;

}

.no-border {
    border-style: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}