@mixin center($direction) {
    position: absolute;
    @if &direction == "both" {
        top:50%;
        left: 50%;
        transform:translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
    }   @else if &direction == "vertical" {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translatey(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translate(-50%, -50%); 
    }   @else if &direction == "horizontal" {
        left: 50%;
        transform: translate(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -moz-transform: translate(-50%, -50%);
    }
}

@mixin linear-gradient($direction, $gradients...) {
    background: linear-gradient($direction, $gradients);
    background: -webkit-linear-gradient($direction, $gradients);
    background: -moz-linear-gradient($direction, $gradients);
    background: -ms-linear-gradient($direction, $gradients);
}

@mixin margin($top, $right, $bottom, $left) {
    margin: $top $right $bottom $left;
}

@mixin absolute-position($top, $right, $bottom, $left) {
    position: $top, $right, $bottom, $left;
    position: absolute;
}

@mixin icon-sizes($font-size, $height, $width) {
    font-size: $font-size;
    height: $height;
    width: $width;
}

