$body-color: white;
$nav-bar-color: rgb(209, 47, 47);
$a-color: green;
$width: 200px;
$height: 100px;
$icon-sizes: 8px, 16px, 24px;


@mixin ellipsis {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin text($max-width) {
    display: inline-block;
    max-width: $max-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}

@mixin placeholder {
    &:-moz-placeholder{
        @content;
    }
    &::-moz-placeholder{
        @content;
    }
    &::-webkit-input-placeholder{
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}
