.nav-bar {
  width: 100%;
  border: 10px solid black;
  background-color: #d12f2f;
}

ul {
  margin: 0;
  padding: 25px;
  list-style-type: none;
}
ul li {
  padding: 10px;
  display: inline;
}
ul li a:link, ul li a:visited {
  color: black;
  padding: 25px;
  color: green;
  text-decoration: underline;
}
ul li a:hover {
  background-color: pink;
}
ul li a:active {
  font-weight: bold;
}

.short-note {
  max-width: 200px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.short-note {
  display: inline-block;
  max-width: 900px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sda-input:-moz-placeholder {
  font-weight: bold;
  color: red;
}
.sda-input::-moz-placeholder {
  font-weight: bold;
  color: red;
}
.sda-input::-webkit-input-placeholder {
  font-weight: bold;
  color: red;
}
.sda-input:-ms-input-placeholder {
  font-weight: bold;
  color: red;
}

.box {
  width: 200px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
}
.box.centered-horizontally {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.box.centered-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}
.box.centered-horizontally-and-vertically {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.rgb-gradient {
  background: linear-gradient(to left, red, green, blue);
  background: -webkit-linear-gradient(to left, red, green, blue);
  background: -moz-linear-gradient(to left, red, green, blue);
  background: -ms-linear-gradient(to left, red, green, blue);
}

.text-with-margin {
  margin: 25px 25px 25px 25px;
}

.box-simple {
  width: 200px;
  height: 100px;
}

.absolute {
  position: 200px, auto, 0px, auto;
  position: absolute;
}

.icon-8px, .icon-16px, .icon-24px, .icon-32px, .icon-48px, .icon-64px {
  font-size: 16px;
  height: 16px;
  width: 16px;
}

.icon-8px {
  font-size: 8px;
  height: 8px;
  width: 8px;
}

.icon-16px {
  font-size: 16px;
  height: 16px;
  width: 16px;
}

.icon-24px {
  font-size: 24px;
  height: 24px;
  width: 24px;
}

/*
@each $nth-child in nth-child {
    ul:$nth-child;
    background-color: red;
}
*/

/*# sourceMappingURL=style.css.map */
