@use 'variables';
@use "mixins";

.nav-bar {
    width: 100%;
    border: 10px solid black;
    background-color: variables.$nav-bar-color;
}

ul {
    margin: 0;
    padding: 25px;
    list-style-type: none;
    li {
        padding: 10px;
        display: inline;
        a {
            &:link,
            &:visited {
                color: black;
                padding: 25px;
                color: variables.$a-color;
                text-decoration: underline;
            }
            &:hover {
                background-color: pink;
            }
            &:active {
                font-weight: bold;
            }
        }
    }
}

.short-note {
    max-width: 200px;
    @include variables.ellipsis;
}

.short-note {
    @include variables.text(900px);
}

.sda-input {
    @include variables.placeholder {
        font-weight: bold;
        color: red;
    }
}

.box {
    width: 200px; 
    height: 200px;
    background-color: white;
    border: 1px solid black;
    &.centered-horizontally {
        @include mixins.center("horizontal");
    }
    &.centered-vertically {
        @include mixins.center ("vertical");
    }
    &.centered-horizontally-and-vertically{
        @include mixins.center("both");
    }
}
.rgb-gradient {
    @include mixins.linear-gradient(to left, red, green, blue);
}
.text-with-margin{
    @include mixins.margin(25px, 25px, 25px, 25px);

}
.box-simple {
    width: variables.$width;
    height: variables.$height;
}
.absolute {
    @include mixins.absolute-position(200px, auto, 0px, auto);
}
.icon-8px, .icon-16px, .icon-24px, .icon-32px, .icon-48px, .icon-64px{
    @include mixins.icon-sizes(16px, 16px, 16px);

}

@each $icon-size in variables.$icon-sizes {
    .icon-#{$icon-size} {
        @include mixins.icon-sizes($icon-size, $icon-size, $icon-size);
    }
}

/*
@each $nth-child in nth-child {
    ul:$nth-child;
    background-color: red;
}
*/
                  